<p-card>
  <div class="header">
    <h2>{{ title }}</h2>

    <div class="buscador">
      <div class="element-buscador">
        Buscar:
      </div>
      <div class="element-buscador">
        <i class="pi pi-search"></i>
        <input
          type="text"
          pInputText
          class="filter-input"
          placeholder="En la tabla"
          (input)="onGlobalFilter($event)"
        />
      </div>

      <div class="element-buscador" *ngIf="headerButton">
        <button
          *ngIf="headerButton.type === 1"
          [class]="headerButton.class"
          pButton
          [label]="headerButton.name"
          [icon]="headerButton.icon"
          (click)="headerButton.action()"
        ></button>

        <button
          *ngIf="headerButton.type === 2"
          [class]="headerButton.class"
          pButton
          [label]="headerButton.name"
          (click)="headerButton.action()"
        ></button>
      </div>
    </div>
  </div>

  <p-table
    #dtTable
    [value]="dataSource"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5,10,20]"
    [globalFilterFields]="displayedColumns"
    [responsiveLayout]="'scroll'"
    [scrollable]="true"
    scrollHeight="500px"
    [filters]="filters"
  >
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of tableInfo" [pSortableColumn]="col.id">
          {{ col.name }}
          <p-columnFilter
            [field]="col.name"
            [matchMode]="col.matchMode"
            display="menu"
            [type]="col.type">
          </p-columnFilter>
          <p-sortIcon [field]="col.name"></p-sortIcon>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
      <tr>
        <td *ngFor="let col of tableInfo">
          <ng-container *ngIf="!col.tooltip">
            {{ row[col.id] }}
          </ng-container>
          <ng-container *ngIf="col.tooltip">
            <span
              pTooltip="{{ row[col.tooltipId] }}"
              tooltipPosition="top"
            >
              {{ row[col.id] }}
            </span>
          </ng-container>
        </td>

        <td *ngIf="hasActions">
          <ng-container *ngFor="let rowAction of actionColumn">
            <button
              *ngIf="rowAction.class === 'icon'"
              pButton
              icon="{{ rowAction.icon }}"
              (click)="rowAction.action(row)"
              [pTooltip]="rowAction.name"
              tooltipPosition="top"
              class="p-button-rounded p-button-text"
            ></button>

            <button
              *ngIf="rowAction.class === 'button'"
              pButton
              icon="{{ rowAction.icon }}"
              (click)="rowAction.action(row)"
              class="p-button-sm"
            ></button>
          </ng-container>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="100%">
          <div class="no-data-message">
            <i class="pi pi-frown"></i>
            No se encuentran registros según los parámetros de búsqueda
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
