<div class="container">
  <form [formGroup]="form">
    <h3 class="text-lg font-semibold mb-1">Asignación de Lotes y Segmentación</h3>
    <p class="text-sm text-gray-600 mb-4">Seleccionar un lote y segmentarlo para asignarlo al ciclo en proceso.</p>
    <p-divider></p-divider>
    <div class="flex items-center gap-4 mb-4">
      <button pButton label="Ver Checklist" class="p-button-outlined"></button>
      <div class="flex items-center text-green-600 font-medium"
           style="justify-content: center; align-content: center; flex-wrap: wrap;">
        <i class="pi pi-check-circle mr-2"></i> Checklist Terminado
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <p-card [style]="{width:'20rem'}" *ngFor="let lote of lotes">
        <ng-template pTemplate="content">
          <div class="flex items-start gap-2 mb-2">
            <p-checkbox (onChange)="getCheckboxSelection($event)" formControlName="lotes" [value]="lote.nombre">
            </p-checkbox>
            <div class="text-primary font-medium">Seleccionar</div>
          </div>
          <p-divider></p-divider>
          <div class="text-primary font-medium">{{ lote.nombre }}</div>
          <p-divider></p-divider>
          <div class="text-sm text-gray-600">Apellidos</div>
          <div class="mb-2">{{ lote.apellidos }}</div>
          <p-divider></p-divider>
          <p-tag value="{{ lote.tipo }}" styleClass="mb-2"></p-tag>
          <p-divider></p-divider>
          <div class="text-sm text-gray-600">Casos Incluidos</div>
          <div>{{ lote.casos }}</div>
        </ng-template>
      </p-card>
    </div>

    <p-divider class="my-6"></p-divider>


    <div>
      <h3 class="text-lg font-semibold mb-1">Segmentación</h3>
      <p class="text-sm text-gray-600 mb-2">Seleccionar la segmentación para el o los lotes, puede ser por Apellidos o
        por
        Financiamiento.</p>
      <br>

      <label for="segmentacion" class="block mb-2 font-medium">Tipo de Segmentación</label>
      <p-dropdown id="segmentacion"
                  formControlName="tiposSegmentaciones"
                  [options]="tiposSegmentacionesList"
                  optionLabel="tipo">
      </p-dropdown>
    </div>
  </form>
</div>

