<div class="container">
  <p-messages *ngIf="pendingCases"
              [closable]="true"
              [style.height]="'53px'"
              [style]="{ width: '100%' }"
              [(value)]="messages"
              class="mb-4">
  </p-messages>
  <br>
  <p-card>

    <app-parametros-busqueda
      [clearInputs]="clear"
      (respuestaBusqueda)="respuestaBusqueda($event)">
    </app-parametros-busqueda>

    <br>

    <!--Tabla ciclos-->
    <app-tabla-general
      [cols]="cols"
      [tableData]="ciclos"
      [propiedadesTabla]="propiedadesTabla"
      [respuestaBusqueda]="busqueda">
    </app-tabla-general>

    <p-dialog
      header="N° Ciclo: {{ selectedCiclo?.numero }}"
      [(visible)]="visible"
      [style]="{ width: '500px' }"
      [modal]="true"
      [closable]="false"
      [draggable]="false"
      [resizable]="true"
    >
      <div>
        <p-divider></p-divider>
      </div>
      <ng-container *ngIf="selectedCiclo">
        <div class="grid grid-cols-2 gap-x-8 gap-y-4 text-sm text-gray-800 mt-2"
             [style.gap]="'10rem'"
             [style.row-gap]="'2rem'">
          <!-- Fila 1 -->
          <div>
            <div class="text-xs text-gray-500 mb-1">Fecha de creación</div>
            <div>{{ selectedCiclo.creacion | date: 'dd/MM/yyyy - HH:mm:ss' }}</div>
          </div>
          <div>
            <div class="text-xs text-gray-500 mb-1">Fecha de cálculo</div>
            <div>{{ selectedCiclo.calculo | date: 'dd/MM/yyyy - HH:mm:ss' }}</div>
          </div>

          <!-- Fila 2 -->
          <div>
            <div class="text-xs text-gray-500 mb-1">Segmentación</div>
            <div>{{ selectedCiclo.segmentacion || 'Sin segmentación' }}</div>
          </div>
          <div [style.margin-left]="'2rem'">
            <div class="text-xs text-gray-500 mb-1">Pensionados</div>
            <div>{{ selectedCiclo.pensionados }}</div>
          </div>

          <!-- Fila 3 -->
          <div>
            <div class="text-xs text-gray-500 mb-1">Fecha de disponibilidad</div>
            <div>{{ selectedCiclo.disponibilidad | date: 'dd/MM/yyyy - HH:mm:ss' }}</div>
          </div>
          <div>
            <div class="text-xs text-gray-500 mb-1">Estado</div>
            <div>{{ selectedCiclo.estado }}</div>
          </div>

          <!-- Fila 4 -->
          <div>
            <div class="text-xs text-gray-500 mb-1">Usuario de creación</div>
            <div>{{ selectedCiclo.usuarioCreacion }}</div>
          </div>
        </div>

        <!-- Botón cerrar -->
        <div class="flex justify-content-center align-content-center mt-6">
          <button
            pButton
            type="button"
            label="Cerrar"
            class="p-button-danger px-6"
            (click)="visible = false">
          </button>
        </div>
      </ng-container>
    </p-dialog>

    <!--  Dialogo Confirmar Eliminar -->
    <p-dialog [modal]="true"
              [(visible)]="deleteDialogVisible"
              header="Eliminar"
              [closable]="false"
              [style]="{ width: 'fit-content', height: 'fit-content'}">
      <p-divider></p-divider>
      <span [style.width]="'max-content'"
            class="p-text-secondary block mb-8">
        ¿Está seguro que desea eliminar el Ciclo?
      </span>
      <div style="display: flex;
                  justify-content: center;
                  align-items: baseline;
                  align-content: center;
                  flex-wrap: wrap;
                  gap: 1rem;">
        <button
          pButton
          label="Cancelar"
          type="button"
          class="p-button-primary"
          (click)="deleteDialogVisible = false">
        </button>

        <button
          label="Sí, eliminar"
          pButton
          type="button"
          class="p-button-danger"
          (click)="this.eliminarCiclo()">
        </button>
      </div>
    </p-dialog>

    <p-toast></p-toast>
  </p-card>
</div>
