/*%%%%%%%%%%%%%%%%%%%%%%%%*/
h2 {
  font-size: 1.125rem !important;
}

::ng-deep .mat-accordion .mat-expansion-indicator::after {
  color: #727E8B !important;
}

.loader-container {
  right: -10px;
  top: -10px;
  position: fixed;
  z-index: 5;
  background-color: #00000052;
  width: 101vw;
  height: 101vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

::ng-deep .mat-mdc-progress-spinner {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

::ng-deep app-loader .mat-mdc-progress-bar {
  display: flex;
  width: 40%;
  top: 50%;
  left: 30%;
}

.summary {
  padding: 1rem;
  // margin: 0 0 1rem;
  // background: white;

  h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    align-items: center;
    margin: 0 0 .5rem;
  }

  ul {
    li {
      span.d-block {
        text-align: center !important;
      }
    }
  }
}

.mat-card,
.mat-mdc-card {
  box-shadow: 0px 0px 0px;
  border: solid 1px #E4E6E9;
  border-radius: .5rem;

  &.noborder {
    border: 0 !important;
  }

  // overflow: hidden;

  app-tabla {
    +.mat-expansion-panel {
      // margin-top: -5px;
    }

    mat-card,
    .mat-mdc-card,
    .mat-card {
      border: 0 !important;
    }

    .detail-container {

      .mat-mdc-card,
      .mat-card {
        border: 0 !important;
      }
    }
  }
}

.mat-accordion {
  border-bottom: solid 1px #C8CDD2;

  .mat-expansion {
    &-panel {
      border-radius: 0;
      box-shadow: none;
      background-color: transparent;


      &-header {
        border-top: solid 1px #C8CDD2;
        color: var(--dark-grey-dark-2, #16191B);
        font-size: 14.22px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;

        &-title {
          border-right: 1px solid #e4e6e9;
          margin-right: 1.5rem;
          height: 36px;
        }

        &.mat-expanded {
          border-bottom: solid 1px #C8CDD2;
          background-color: hsla(211, 72%, 41%, 0.15);

          .mat-expansion-panel-header-title {
            color: #1D65B3;
          }
        }
      }

      &-spacing {
        margin: 0 !important;
        overflow: visible !important;
      }

      &-body {
        padding: 1rem;

        mat-card,
        .mat-mdc-card {
          border-radius: .5rem !important;
          box-shadow: 0 !important;

          .detail-container {
            .mat-mdc-card.mdc-card.mat-card-detail {
              // border-radius: 0px !important;
              box-shadow: 0px 0px 0px;

              .mat-expansion-panel-body {
                box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
              }
            }
          }
        }

        // .mat-expansion-panel {
        //   border-left: solid 1px #C8CDD2;
        //   border-right: solid 1px #C8CDD2;
        // }
      }

    }

    h2 {
      margin-top: 1rem;
    }
  }
}

ul {
  &.grid {

    padding: 0;
    margin: 0;
    list-style: none;

    display: grid;
    grid-gap: 0rem;
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    grid-auto-flow: row;
    grid-auto-columns: minmax(1rem, 1fr);
  }

  &.top {
    grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));

    li {
      text-align: center;
    }
  }

  li {
    font-size: 1rem;
    line-height: 1.5rem;
    font-style: normal;
    font-weight: 400;
    padding: 1rem 0;
    text-align: left;

    small {
      display: block;
      color: var(--dark-grey-dark-5, #5C6570);
      font-size: 14.22px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
    }
  }
}

.flex {
  display: flex;
}

.badge {
  padding: .5rem 1rem;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  background-color: #C8CDD2;
  color: #000;

  &.Eliminado {
    color: #CA082C;
    background: hsla(349, 92%, 41%, 0.25);
  }

  &.proceso,
  &.Proceso,
  &.simulando,
  &.Simulando {
    background-color: #FDF7E0;
    color: #544405;
  }

  &.terminado,
  &.Terminado,
  &.Finalizado,
  &.finalizado {
    background-color: #E4F9ED;
    color: #0F4526;
  }

  &.creado,
  &.Creado {
    color: #1d65b3;
    background: #E4EFFB;
  }

  &.rounded-pill {
    border-radius: 10rem;
    margin-left: .5rem;

    &.A {
      background-color: #FEDFE5 !important;
    }

    &.B {
      background-color: #FFCFBF !important;
    }

    &.C {
      background-color: #C8F3DA !important;
    }

    &.D {
      background-color: #C8DFF6 !important;
    }

    &.E {
      background-color: #CCD5EE !important;
    }
  }
}

// Registro::after
.step-progress {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &:not(:first-child):not(:last-child)::before {
      content: "";
      height: 1px;
      background-color: #c0c0c0; // Color gris de la línea
      width: 100%;
      position: absolute;
      top: 50%;
      right: 200%;
      transform: translate(50%, 0);
    }

    &:not(:first-child):not(:last-child)::after {
      content: "";
      height: 1px;
      background-color: #c0c0c0; // Color gris de la línea
      width: 100%;
      position: absolute;
      top: 50%;
      right: -100%;
      transform: translate(50%, 0);
    }

    &.error {
      &::after {
        background-color: hsla(349, 92%, 41%, 0.25) !important;
      }

      &::before {
        background-color: hsla(349, 92%, 41%, 0.25) !important;
      }

      .step {
        &-icon {
          background-color:hsla(349, 92%, 41%, 0.25);
          color: #CA082C;
        }

        &-label {
          color: #CA082C;
        }

        &-number {
          display: none;
        }
      }

      .material-icons {
        display: block;
      }
    }

    &.completed {
      &::after {
        background-color: #1D65B3 !important;
      }

      &::before {
        background-color: #1D65B3 !important;
      }

      .step {
        &-icon {
          background-color: #C8DFF6;
          color: #1D65B3;
        }

        &-label {
          color: #1D65B3;
        }

        &-number {
          display: none;
        }
      }

      .material-icons {
        display: block;
      }
    }

    &.active {
      .step {
        &-icon {
          border: 1rem;
          background-color: #1D65B3; // Color azul para el paso completado/activo
          color: white;
        }

      }

      .material-icons {
        display: none;
      }
    }



    .step-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px; // Tamaño del círculo
      height: 30px;
      border-radius: 50%;
      background-color: #E4E6E9; // Color gris para pasos inactivos
    }

    .step-label {
      display: block;
      margin-left: 10px; // Espacio entre el círculo y el texto
    }
  }

  .material-icons {
    display: none;
  }
}

.header-sim {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.group-tabs {
  margin-top: -1.5rem;

  .mat-mdc-tab-header {
    margin-left: -1.5rem;
  }
}

.btn-extra-large {
  max-width: 250px;
  min-width: 250px;
}

.alert-container {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;

  .alert-warning {
    background-color: #fcf0c2;
    border-style: solid;
    border-color: var(--warning-warning-1, #f4ce38);
    border-width: 0px 0px 0px 4px;
    width: 100%;

    .alert-content {
      display: flex;
      justify-content: space-between;
      padding: 15px 15px 0 15px;

      .content-left {
        display: flex;
        align-content: center;

        p {
          padding: 0 0 0 10px;
          cursor: pointer;
          margin-top: 0;
        }
      }
    }
  }

  .alert-info {
    background-color: #C8DFF6;
    border-style: solid;
    border-color: var(--warning-warning-1, #1D65B3);
    border-width: 0px 0px 0px 4px;
    width: 100%;

    .alert-content {
      display: flex;
      justify-content: space-between;
      padding: 15px 15px 0 15px;

      .content-left {
        display: flex;
        align-content: center;

        p {
          padding: 0 0 0 10px;
          cursor: pointer;
          margin-top: 0;
        }
      }
    }
  }

  .alert-danger {
    background-color: #FFE7DF;
    border-style: solid;
    border-color: var(--warning-warning-1, #FF6230);
    border-width: 0px 0px 0px 4px;
    width: 100%;

    .alert-content {
      display: flex;
      justify-content: space-between;
      padding: 15px 15px 0 15px;

      .content-left {
        display: flex;
        align-content: center;

        p {
          padding: 0 0 0 10px;
          cursor: pointer;
          margin-top: 0;
        }
      }
    }
  }
}

.link-parametros {
  color: #000;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  // grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(1rem, 1fr);

  &--fondos {
    grid-auto-columns: minmax(1rem, 20rem);
  }

  .mdc-card {
    padding: 1rem;

    &__fondo {
      flex-direction: row;
      align-items: center;
      padding: 1rem;
      margin-bottom: 1rem;

      span {
        border-radius: 10rem;
        padding: 0.3rem;
        display: block;
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
      }

      >div {
        font-size: 14px;
        line-height: 1.486;
        padding: 0 1rem;

        p {
          margin: 0;
        }
      }
    }

    &__fondos {
      content: '';
    }



    .mat-mdc-card {

      &-header {
        padding: 0;
      }

      &-content {
        display: flex;
        flex-direction: column;
        border-top: solid 1px #C8CDD2;
        border-bottom: solid 1px #C8CDD2;
        padding: 0;
        margin: 1rem 0;

        >div {
          display: flex;
          justify-content: space-between;
        }

        p {
          font-size: 14px;
          line-height: 1.1;

          strong {
            display: block;
            font-size: 12px;
          }
        }
      }
    }

  }

  &__buttons {
    padding: 1rem 0;
    grid-auto-columns: inherit;
    justify-content: space-between;

    button {
      min-width: 9rem;
      margin: 0 1rem;

      &.mat-mdc-raised-button[disabled][disabled],
      &.mdc-button.loading {
        &.mdc-button__label {
          display: flex;
          position: relative;
          align-items: center;

          .mat-mdc-progress-spinner.mdc-circular-progress {
            float: left;
            margin: 0 0.5rem 0 0;
            transform: none;
            position: relative;
            left: 0;
            top: 0;
          }
        }
      }
    }
  }
}

.mdc-button .mdc-button__label {
  display: flex;
  position: relative;
  align-items: center;
}

.mat-table-show-title-always {
  /* Establece una altura máxima para el contenedor del mat-table */
  max-height: 700px;
  /* Ajusta según sea necesario */
  overflow-y: auto;
  /* Agrega una barra de desplazamiento vertical si es necesario */

  /* Asegúrate de que las filas siempre tengan la misma altura */
  display: block;

  th {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}
/*%%%%%%%%%%%%%%%%%%%%%%%%*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.mat-icon-button {
  width: 30px !important;
  /* margin-left: 15%; */
}

.mat-mdc-card,
.mat-card {
  border-radius: .5rem;
  overflow: hidden;

  &-title {
    display: flex;
    align-items: center;
  }
}

.mat-card-title {
  font-weight: 500;
}

.buscador {
  align-items: center;
  font-weight: 500;
  display: flex;

  input {
    border-radius: 10px;
    border: solid 1px lightgray;
    padding: 0 1rem;
    margin: 0 1rem;
    height: 1.625rem;
    min-height: 42px;

    &:focus-visible {
      outline: solid 1px lightgray;
    }
  }

  button {
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    padding: 1rem;
    height: 44px;

    .material-icons {
      margin-right: 10px;
    }
  }

  .mat-stroked-button {
    border: solid 1px #4F96E2;
  }

}

.filter-bar {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-top: 1px solid #C8CDD2;
  border-bottom: 1px solid #C8CDD2;

  p {
    margin: 0;
  }
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: transparent;
  border: 1px solid #8F99A3;
}

::ng-deep .mat-mdc-chip-action-label {
  color: #87051D !important;
}

.chip-delete-all-filters {
  background-color: #FFE7DF !important;
  border: none !important;
  color: #581500;
  font-weight: 400;
  line-height: 14.2px;
}

.mat-mdc-table {
  width: 100%;
  vertical-align: middle;
  margin: 1rem 0;
  margin-top: 0;
  padding: .4rem 1rem;

  .mat-header-row {
    background-color: #C8CDD2;
    font-weight: bold;
  }

  th {
    width: 40vw;
    text-align: center;
    font-size: 13px;
    line-height: 14px;
    font-weight: 500;

    .mat-icon {
      font-size: 12px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 12px;
      height: 12px;

      &:disabled,
      &[disabled='true'] {
        color: blue
      }
    }


  }

  tr {
    height: 52px !important;

    &:nth-child(odd),
    &:nth-child(odd):hover {
      background: #F8F9FA
    }

    &:nth-child(even),
    &:nth-child(even):hover {
      background: #FFF
    }
  }

  td {
    font-size: 1rem;
    color: #16191B;
    font-weight: 400;

    .small {
      font-size: 14px;
      line-height: 16px;
      color: #5C6570;
    }
  }
}

.mat-mdc-checkbox {
  width: 100%;
}

.checks {
  width: 5vw;
}

.acciones {
  text-align: center;
  width: 15vw;
}

.botones-acciones {
  vertical-align: middle;
  min-width: 8rem;
  text-align: center;

  div {
    display: inline-block;
  }

  button {
    position: relative;
    margin: 0 .125rem;

    mat-icon {
      font-size: 1.3rem;
      width: auto !important;
      height: auto !important;
      overflow: visible;
    }

    &.mdc-button {
      mat-icon {
        position: relative;
      }
    }

    &.mdc-icon-button {
      padding: 0;
      width: 32px;
      height: 32px;

      mat-icon {
        font-size: 1.3rem;
        width: auto !important;
        height: auto !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

}

.mat-mdc-icon-button[disabled][disabled] {
  mat-icon {
    color: #8b939c !important;
  }
}

input {
  border-radius: 10px;
  border-color: lightgray;
  padding: 8px 16px;
  margin-right: 3%;
}

.mat-raised-button {
  background-color: #ca082c !important;
  color: #ffff !important;
  border: none;
  border-radius: 8px;
}

.En.Proceso.Simulando.chip {
  color: #510312;
  background: #FEDFE5;
}

.Cálculo.Definitivo.Finalizado.chip {
  color: #544405;
  background: #FDF7E0;
}

.Proceso.chip.con.error {
  color: #CA082C;
  background: hsla(349, 92%, 41%, 0.25);
}


.chip {
  color: #1D65B3;
  background: #E4EFFB;

  &.Errores,
  &.errores {
    color: #CA082C;
    background: hsla(349, 92%, 41%, 0.25);
  }

  &.Rechazado,
  &.Error,
  &.Rechazado {
    color: #CA082C;
    background: hsla(349, 92%, 41%, 0.25);
  }

  &.Terminado,
  &.Generado,
  &.Enviado,
  &.Aprobado {
    color: #0F4526;
    background: #E4F9ED;
  }

  border-radius: 10rem;
  font-size: 0.79rem;
  line-height: 14px;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  padding: 0.25rem 0.5rem;

  small {
    color: #0C2A4A;
    font-weight: 400;
  }
}

.element-buscador {
  display: flex;
  flex-direction: row-reverse;

  .icon-search {
    position: absolute;
    margin-top: 10px;
    margin-right: 20px;
  }
}

.detail-container {
  display: flex;
  justify-content: center;
  // padding: 1.5rem 0;

  .mat-card-detail {
    overflow-y: hidden;
    overflow-x: auto;
  }
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

// .table-container::-webkit-scrollbar {
//   height: 1.2rem;
// }

.header-filter {
  display: flex;
  // justify-content: center;
  align-items: center;

  .btn-filter {
    width: 32px;
    height: 32px;
  }
}

.header-left {
  text-align: left;
  justify-content: left;
}

.header-center {
  text-align: center;
  justify-content: center;
}

.large-medium {
  min-width: 10rem;
  text-align: left;
  justify-content: left;
}

.app-table-container {
  position: relative;
}
.filter-container {
  // width: 100%;
  // max-width: 250px;
  height: auto;
  text-align: center;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 2;
  top: 9.5em;
  left: 0;
  border-radius: 3%;

  mat-checkbox {
    margin: 0;
  }

  button {
    margin-top: 8px;
  }

  .triangle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    position: absolute;
    top: -15px;
    left: 45%;
  }

  .btn-filter {
    width: 100%;
    height: 6vh;
    border-radius: 8px;
    margin-bottom: 5% !important;
  }

  .btn-cancelar {
    border: solid 1px #4F96E2;
    border-radius: 8px;
    width: 100%;
    height: 6vh;
    color: #1D65B3;
  }

  .section_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .filterMenuTrigger {
    padding: .5rem 1rem;

    p {
      margin: 0;
      line-height: 1.1;
    }

    .mat-mdc-chip {
      margin: .5rem 0 !important;
    }
  }

  .filter-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;

    p {
      color: #16191B;
      font-family: Roboto;
      font-size: 14.22px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      margin-top: 10px;
    }

    .search-container-date {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;

      input {
        margin-top: -10px !important;
        width: 85%;
        height: 5%;
        margin: 0;
      }
    }

    .search-container {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;

      .icon-search {
        position: absolute;
        margin-top: 7px;
        margin-right: 7px;
        color: #8F99A3;
      }

      input {
        width: 100%;
        margin-right: 0;
        border: 1px solid #8F99A3;
        appearance: textfield;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIj4KICA8cGF0aCBkPSJNMTkgNEgxOFYySDE2VjRIOFYySDZWNEg1QzMuODkgNCAzLjAxIDQuOSAzLjAxIDZMMyAyMEMzIDIxLjEgMy44OSAyMiA1IDIySDE5QzIwLjEgMjIgMjEgMjEuMSAyMSAyMFY2QzIxIDQuOSAyMC4xIDQgMTkgNFpNMTkgMjBINVYxMEgxOVYyMFpNMTkgOEg1VjZIMTlWOFpNOSAxNEg3VjEySDlWMTRaTTEzIDE0SDExVjEySDEzVjE0Wk0xNyAxNEgxNVYxMkgxN1YxNFpNOSAxOEg3VjE2SDlWMThaTTEzIDE4SDExVjE2SDEzVjE4Wk0xNyAxOEgxNVYxNkgxN1YxOFoiIGZpbGw9IiM4Rjk5QTMiLz4KPC9zdmc+');
  }
}

.oval-toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  cursor: pointer;

  input {
    display: none;

    &:checked+.oval-slider {
      transform: translateX(20px);
      background-color: #1D65B3;
    }
  }
}

.oval-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

.mat-mdc-paginator {
  margin-bottom: 20px;
}

::ng-deep .mat-mdc-paginator-page-size-select {
  .mat-mdc-text-field-wrapper {
    height: 35px !important;
    text-align: center;
  }
}

::ng-deep .mdc-switch {
  width: 40px !important;

  .mdc-switch__track {
    border-radius: 15px !important;
    height: 25px !important;
  }

  .mdc-switch__icons {
    border-radius: 50%;
    background-color: #fff;
  }
}

.badge {
  &-pill {
    background-color: #E4EFFB;
    color: #0C2A4A;
    border-radius: 12px;
    margin-left: 16px;
    padding: 4px 8px;
    font-size: 12.64px;
    font-family: Roboto;
    align-self: center;
  }

  &.rounded-pill {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14.2px;
  }

  &.text-bg {
    &-warning {
      background-color: #FDF7E0 !important;
      color: #544405 !important;
    }

    &-danger {
      background-color: #FFE7DF !important;
      color: #581500 !important;
    }

    &-success {
      background-color: #E4F9ED !important;
      color: #0F4526 !important;
    }
  }
}

.red {
  color: #510312;
  background-color: #FEDFE5;
  margin: 0;
}

.mat-radio-group {
  display: flex;
  flex-direction: column;
  /* Cambia a row para alinear horizontalmente */
}

/* Estilos para los radio buttons dentro del radio group */
.mat-radio-button {
  margin-bottom: 8px;
  /* Espaciado entre radio buttons */
}

/* Estilos para el radio button seleccionado */
.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #2196F3;
  /* Color de fondo para el radio button seleccionado */
}

/* Estilos para el texto del radio button */
.mat-radio-label {
  margin-left: 8px;
  /* Espaciado entre el círculo y el texto */
}

/* Hover y enfoque del radio button */
.mat-radio-button:hover .mat-radio-inner-circle,
.mat-radio-button.mat-radio-checked .mat-radio-inner-circle {
  border-color: #1976D2;
  /* Cambia el color del borde al pasar el ratón y cuando está seleccionado */
}

.btn-generar-archivos,
.btn-large {
  white-space: nowrap;
  min-width: 300px;
  text-align: center;
  vertical-align: middle;
}

.colLoading {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  justify-content: space-around;

  ::ng-deep .mat-mdc-progress-spinner {
    left: 5%;
    top: 0;
    transform: translate(0, 0);
  }
}

.actions-large {
  vertical-align: middle;
  min-width: 10rem;
  text-align: center;
}


.filterMenuTrigger-bar {
  padding: 1rem;
}

.delete-filters {
  margin: 2px;
}

.chip-delete-all-filters {
  margin: 2px;
}

.header-button {
  cursor: pointer;
}

.no-data-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0 0;
  font-family: Roboto;

  .mat-icon {
    font-size: 45px;
    height: 45px;
    width: 45px;
  }
}
