<div class="overflow-x-auto overflow-y-auto">
  <div class="flex items-center justify-between mb-2 w-full" [style.gap]="'1rem'">
    <h2 class="text-xl font-bold">{{ propiedadesTabla?.tableTitle || '' }}</h2>
    <div class="flex items-center gap-2 ml-auto" *ngIf="propiedadesTabla.topButtons.length > 0">
      <button *ngFor="let button of propiedadesTabla.topButtons"
              pButton
              [type]="button.type"
              [icon]="button.icon"
              [label]="button.title"
              [class]="button.class"
              [style]="button.styles"
              (click)="button.clickHandler(button)">
      </button>
    </div>
    <button *ngIf="propiedadesTabla.hasCleanFilterButton"
            pButton label="Limpiar Filtros"
            class="p-button-danger"
            icon="pi pi-filter-slash"
            (click)="clearFilters(dtTable)">
    </button>

    <button *ngIf="propiedadesTabla.hasDownloadButton"
            pButton label="Descargar Reporte"
            class="p-button-danger"
            icon="pi pi-download"
            (click)="exportTableToExcel()">
    </button>
  </div>
  <p-table
    #dtTable
    [columns]="getColumns()"
    [showCurrentPageReport]="getTableData().length > 0"
    [value]="getTableData()"
    [globalFilterFields]="getGlobalFilterFields()"
    [rows]="10"
    [rowsPerPageOptions]="[5,10,20,30,40,50]"
    [paginator]="true"
    [loading]="false"
    dataKey="id"
    currentPageReportTemplate="{first} - {last} de {totalRecords}"
    styleClass="p-datatable-gridlines"
  >

    <ng-template pTemplate="header" let-columns>
      <tr class="align-content-lg-stretch">
        <!-- Columna para el radio button -->
        <th *ngIf="propiedadesTabla?.rowSelectionButton?.type === 'radio'"
            class="bg-gray-800 text-white font-medium text-sm px-3 py-2"
            id="radioCol"
            style="width: 3rem;">
          Seleccion
        </th>
        <th class="bg-gray-800 text-white font-medium text-sm px-3 py-2" *ngFor="let col of columns" id="cols">
          <div [style.width]="'max-content'"
               [style.justify-content]="'center'"
               class="flex align-items-center justify-content-center">
            {{ col.header }}

            <p-columnFilter
              *ngIf="col.hasFilter"
              [field]="col.field"
              [display]="col.displayType"
              [type]="col.filterType !== 'dropdown' && col.filterType !== 'date' ? col.filterType : null">
              <ng-container [ngSwitch]="getFilterTemplateType(col)" [style.background-color]="'white'">
                <ng-template *ngSwitchCase="'dropdown'" pTemplate="filter" let-value
                             let-filterCallback="filterCallback">
                  <p-dropdown
                    [options]="col.options"
                    (onChange)="filterCallback($event.value)"
                    placeholder="Todos">
                  </p-dropdown>
                </ng-template>
                <ng-template *ngSwitchCase="'date'" pTemplate="filter" let-value let-filterCallback="filterCallback">
                  <p-calendar
                    (onSelect)="filterCallback($event)"
                    dateFormat="dd/mm/yy"
                    placeholder="dd/mm/aa"
                    [showIcon]="true">
                  </p-calendar>
                </ng-template>
              </ng-container>
            </p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <!-- Columna para el radio button -->
        <ng-container *ngIf="propiedadesTabla?.rowSelectionButton?.type === 'radio'">
          <td class="px-2 py-1" style="width: 3rem;">
            <p-radioButton
              name="simulation"
              (onClick)="propiedadesTabla.rowSelectionButton.clickHandler(rowData)"
              [value]="rowData">
            </p-radioButton>
          </td>
        </ng-container>

        <ng-container *ngFor="let col of columns">
          <td class="px-2 py-1">
            <div
              [style.width]="'max-content'"
              [style.justify-content]="'center'"
              class="flex align-items-center justify-content-center">

              <ng-container *ngIf="getNgClassStyle(rowData, col.field) as styleClass">
                <div class="flex justify-center items-center h-full">
                  <span
                    [style.border-radius]="'50px'"
                    [style.display]="'flex'"
                    [style.flex-wrap]="'wrap'"
                    [style.align-content]="'center'"
                    [style.width]="'10rem'"
                    [style.height]="'45px'"
                    [style.justify-content]="'center'"
                    class="px-2 py-1 rounded-full text-sm font-medium text-center whitespace-nowrap"
                    [style]="getTagStyle(styleClass)">
                {{ rowData[col.field] }}
              </span>
                </div>
              </ng-container>

              <ng-container *ngIf="col.field === 'acciones'">
                <div class="flex items-center gap-0 justify-center h-full">
                  <ng-container *ngFor="let action of getColumnActions(col)">
                    <button
                      [pTooltip]="action.actionName | titlecase"
                      tooltipPosition="top"
                      pButton
                      class="p-button-text p-button-sm"
                      [icon]="action.icon"
                      (click)="action.clickHandler(rowData)">
                    </button>

                    <button *ngFor="let prop of renderButton(col)"
                            pButton
                            class="p-button-danger"
                            [icon]="action.icon"
                            (click)="action.clickHandler()">
                      {{ prop.text }}
                    </button>
                  </ng-container>
                </div>
              </ng-container>

              <ng-container *ngIf="isDateField(col.field)">
                <div class="flex items-center justify-center h-full">
                  {{ rowData[col.field] | date:'dd/MM/yyyy' }}
                </div>
              </ng-container>

              <ng-container
                *ngIf="!isDateField(col.field) && col.field !== 'acciones' && !getNgClassStyle(rowData, col.field)">
                <div class="flex items-center justify-center h-full">
                  {{ rowData[col.field] }}
                </div>
              </ng-container>

            </div>
          </td>
        </ng-container>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td class="text-center py-4" [attr.colspan]="columns.length + 1">
            <span class="text-gray-700 text-base">
          No se encuentran registros de acuerdo a los parámetros de búsqueda
            </span>
        </td>
      </tr>
    </ng-template>

  </p-table>
</div>
