<div class="overflow-x-auto overflow-y-auto">
  <div class="flex items-center justify-between mb-2 w-full">
    <h2 class="text-xl font-bold">{{ funcionesTabla?.tableTitle || '' }}</h2>
    <div class="flex items-center gap-2 ml-auto">

      <button *ngIf="funcionesTabla?.topButton" pButton
              [type]="funcionesTabla?.topButton?.type"
              [icon]="funcionesTabla?.topButton?.icono"
              [label]="funcionesTabla?.topButton?.titulo"
              [class]="funcionesTabla?.topButton?.class"
              [style]="funcionesTabla?.topButton?.styles[0]"
              (click)="funcionesTabla?.topButton?.action()">
      </button>

      <button *ngIf="shouldRenderDownloadButton()"
              pButton type="button"
              [icon]="PrimeIcons.DOWNLOAD"
              label="Descargar Reporte"
              (click)="exportTableToExcel()"
              class="p-button-danger">
      </button>

      <button *ngIf="funcionesTabla.hasCleanFilter"
              pButton label="Limpiar Filtros"
              class="p-button-danger"
              [icon]="PrimeIcons.FILTER_SLASH"
              (click)="clearFilters(dtTable)">
      </button>
    </div>
  </div>
  <p-table
    [columns]="getColumns()"
    #dtTable
    [value]="getTableData()"
    dataKey="id"
    [rows]="10"
    [showCurrentPageReport]="getTableData().length > 0"
    [rowsPerPageOptions]="[5,10,20,30,40,50]"
    [paginator]="true"
    currentPageReportTemplate="{first} - {last} de {totalRecords}"
    [globalFilterFields]="getGlobalFilterFields()">

    <ng-template pTemplate="header" let-columns>
      <tr class="align-content-lg-stretch">
        <!-- Columna para el radio button -->
        <th *ngIf="funcionesTabla?.rowSelectionButton?.type === 'radio'"
            id="radioCol"
            style="width: 3rem;">
          Seleccion
        </th>
        <th *ngFor="let col of columns" id="cols">
          <div [style.width]="'max-content'"
               [style.justify-content]="'center'"
               class="flex align-items-center justify-content-center">
            {{ col.header }}

            <p-columnFilter
              *ngIf="col.hasFilter"
              [field]="col.field"
              [display]="col.displayType"
              [type]="col.filterType !== 'dropdown' && col.filterType !== 'date' ? col.filterType : null">
              <ng-container [ngSwitch]="getFilterTemplateType(col)">
                <ng-template *ngSwitchCase="'dropdown'" pTemplate="filter" let-value
                             let-filterCallback="filterCallback">
                  <p-dropdown
                    [options]="col.options"
                    (onChange)="filterCallback($event.value)"
                    placeholder="Todos">
                  </p-dropdown>
                </ng-template>
                <ng-template *ngSwitchCase="'date'" pTemplate="filter" let-value let-filterCallback="filterCallback">
                  <p-calendar
                    (onSelect)="filterCallback($event)"
                    dateFormat="dd/mm/yy"
                    placeholder="dd/mm/aa"
                    [showIcon]="true">
                  </p-calendar>
                </ng-template>
              </ng-container>
            </p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <!-- Columna para el radio button -->
        <ng-container *ngIf="funcionesTabla?.rowSelectionButton?.type === 'radio'">
          <td class="px-2 py-1" style="width: 3rem;">
            <p-radioButton
              name="simulation"
              (onClick)="funcionesTabla.rowSelectionButton.action(rowData)"
              [value]="rowData">
            </p-radioButton>
          </td>
        </ng-container>

        <ng-container *ngFor="let col of columns">
          <td class="px-2 py-1">
            <div
              [style.width]="'max-content'"
              [style.justify-content]="'center'"
              class="flex align-items-center justify-content-center">

              <ng-container *ngIf="getNgClassStyle(rowData, col.field) as styleClass">
                <div class="flex justify-center items-center h-full">
              <span
                [style.border-radius]="'50px'"
                [style.display]="'flex'"
                [style.flex-wrap]="'wrap'"
                [style.align-content]="'center'"
                [style.width]="'10rem'"
                [style.height]="'50px'"
                [style.justify-content]="'center'"
                class="px-2 py-1 rounded-full text-sm font-medium text-center whitespace-nowrap"
                [ngClass]="styleClass">
                {{ rowData[col.field] }}
              </span>
                </div>
              </ng-container>

              <ng-container *ngIf="col.field === 'acciones'">
                <div class="flex items-center gap-2 justify-center h-full">
                  <ng-container *ngFor="let action of getColumnActions(col, rowData)">
                    <button
                      pButton
                      class="p-button-text p-button-sm"
                      [icon]="action.icon"
                      (click)="action.clickHandler()">
                    </button>

                    <button *ngFor="let prop of renderButton(col)"
                            pButton
                            class="p-button-danger"
                            [icon]="action.icon"
                            (click)="action.clickHandler()">
                      {{ prop.text }}
                    </button>
                  </ng-container>
                </div>
              </ng-container>

              <ng-container *ngIf="isDateField(col.field)">
                <div class="flex items-center justify-center h-full">
                  {{ rowData[col.field] | date:'dd/MM/yyyy' }}
                </div>
              </ng-container>

              <ng-container
                *ngIf="!isDateField(col.field) && col.field !== 'acciones' && !getNgClassStyle(rowData, col.field)">
                <div class="flex items-center justify-center h-full">
                  {{ rowData[col.field] }}
                </div>
              </ng-container>

            </div>
          </td>
        </ng-container>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td class="text-center py-4" [attr.colspan]="columns.length + 1">
            <span class="text-gray-700 text-base">
          No se encuentran registros de acuerdo a los parámetros de búsqueda
            </span>
        </td>
      </tr>
    </ng-template>

  </p-table>
</div>
