<div class="container-fluid">
  <div class="crear-nuevo-ciclo">

    <div class="p-steps" style="margin-top: 15px">
      <p-steps [model]="steps" [(activeIndex)]="currentStep" [readonly]="true"></p-steps>
    </div>

    <p-card>
      <div class="mt-4">
        <ng-container [ngSwitch]="currentStep">
          <app-segmentacion *ngSwitchCase="0">
          </app-segmentacion>
          <app-parametros *ngSwitchCase="1">
          </app-parametros>
          <app-universo-pago *ngSwitchCase="2">
          </app-universo-pago>
        </ng-container>
      </div>
      <p-divider></p-divider>
      <div style="display: flex;  align-items: center; justify-content: space-evenly; margin-top: 15px">
        <button (click)="goToPrevious()" pButton [label]="currentStep === 0 ? 'Cancelar' : 'Anterior'"
                class="p-button-outlined"></button>
        <button (click)="goToNext()" pButton label="Continuar" class="bg-red-600 text-white hover:bg-red-700"></button>
      </div>
    </p-card>
  </div>
</div>
