<p-table
  [columns]="getColumns()"
  #dtTable
  [value]="tableData"
  dataKey="id"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10,20,50]"
  [paginator]="true"
  currentPageReportTemplate="{first} - {last} de {totalRecords}"
  [globalFilterFields]="['numero', 'creacion', 'calculo', 'segmentacion', 'pensionados', 'disponibilidad', 'estado']"
>
  <ng-template pTemplate="caption">
    <div class="flex items-center mb-2 w-full">
      <!-- Buscar a la izquierda -->
      <div class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          id="buscarTabla"
          [formControl]="searchControl"
          pInputText
          type="text"
          (input)="onGlobalFilter($event)"
          placeholder="Buscar en la tabla"
        />
      </div>

      <!-- Espaciador flexible -->
      <div class="flex-grow"></div>

      <!-- Limpiar filtros a la derecha -->
      <div>
        <button style="margin-left: 10px" pButton label="Limpiar filtros" class="p-button-outlined"
                icon="pi pi-filter-slash"
                (click)="clear(dtTable)">
        </button>
      </div>
    </div>
  </ng-template>


  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" id="cols">
        <div class="flex align-items-center">
          {{ col.header }}
          <p-columnFilter *ngIf="col.filterType !== 'dropdown' && col.hasFilter"
                          [type]="col.filterType"
                          [field]="col.field"
                          [display]="col.displayType">
          </p-columnFilter>

          <p-columnFilter *ngIf="col.filterType === 'dropdown'"
                          [field]="col.field"
                          [display]="col.displayType">
            <ng-template pTemplate="filter" let-value let-filterCallback="filterCallback">
              <p-dropdown
                [options]="col.options"
                [ngModel]="value"
                (onChange)="filterCallback($event.value)"
                placeholder="Todos">
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        <div *ngIf="col.field !== 'estado' && col.field !== 'acciones'">
          {{ rowData[col.field] }}
        </div>

        <span *ngIf="col.field === 'estado'"
              class="px-2 py-1 rounded-full text-sm font-medium"
              [ngClass]="getEstadoClass(rowData.estadoTipo)">
          {{ rowData.estado }}
        </span>

        <div class="flex items-center gap-2 justify-center">
          <button *ngIf="shouldShowAction(col, 'Parametros')" pButton icon="pi pi-cog"
                  class="p-button-text p-button-sm">
          </button>

          <button *ngIf="shouldShowAction(col, 'Ver')" pButton icon="pi pi-eye"
                  class="p-button-text p-button-sm"
                  (click)="ver(rowData)">
          </button>

          <button *ngIf="shouldShowAction(col, 'Eliminar')" pButton icon="pi pi-trash"
                  class="p-button-text p-button-sm"
                  (click)="handleDelete(rowData)">
          </button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
