/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  scrollbar-width: thin;
}

.bgBody {
  background-color: rgba(244, 246, 251, 255);
}

html {
  --mdc-checkbox-selected-focus-icon-color: rgba(18, 69, 123, 255) !important;
  --mdc-checkbox-selected-hover-icon-color: rgba(18, 69, 123, 255) !important;
  --mdc-checkbox-selected-icon-color: rgba(18, 69, 123, 255) !important;
  --mdc-checkbox-selected-pressed-icon-color: rgba(18, 69, 123, 255) !important;
  --mdc-checkbox-selected-focus-state-layer-color: rgba(18, 69, 123, 255) !important;
  --mdc-checkbox-selected-hover-state-layer-color: rgba(18, 69, 123, 255) !important;
  --mdc-checkbox-selected-pressed-state-layer-color: rgba(18, 69, 123, 255) !important;
}

.mat-step-icon-state-edit {
  background-color: #c2d8ee !important;
  color: #1D65B3 !important;
}


/* Scrollbar */
*::-webkit-scrollbar {
  width: .8rem;
  height: .8rem;
}

*:hover::-webkit-scrollbar-track {
  background: hsla(0, 0%, 87%, 0.20);
  opacity: .5;
}

*::-webkit-scrollbar-track {
  opacity: .5;
  transition: opacity 0.1s linear;
}

*::-webkit-scrollbar-thumb {
  opacity: .5;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: hsla(211, 72%, 17%, 0.25);
  border-radius: 6px;
}

/* estilo para forzar color en botones warm */
.mat-mdc-raised-button.mat-warn {
  --mdc-protected-button-container-color: #ca082c !important;
}

.mat-mdc-text-field-wrapper {
  padding-right: 0 !important;
}

/* estilos para mejorar filtro de fecha desde - hasta */
.mat-mdc-form-field-flex {
  height: 50px !important;
  width: 95% !important;
}

.mdc-text-field--outlined .mdc-notched-outline {
  width: 95% !important;
}

/* correci�n que aplica al combobox de paginator de las tablas */
.mat-mdc-select-arrow svg {
  top: 0% !important;
  left: -20% !important;
}

.mat-mdc-paginator .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 5px !important;
}

/* estilo para ajustar el date picker de filtro en tabla */
.mat-mdc-form-field.mat-mdc-form-field-type-mat-select {
  width: 100% !important;
}

.mat-mdc-form-field.mat-mdc-paginator-page-size-select {
  width: auto !important;
}

/* estilo para los checkbox */
.mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-icon-color: #1d65b3 !important;
  --mdc-checkbox-selected-focus-icon-color: #1d65b3 !important;
  --mdc-checkbox-selected-hover-icon-color: #1d65b3 !important;
  --mdc-checkbox-selected-pressed-icon-color: #1d65b3 !important;
}

mat-accordion>.mat-expansion-panel-spacing,
.mat-accordion>.mat-expansion-panel-spacing {
  overflow: visible;
}

.mat-expansion-panel-body {
  padding: 1rem !important;
}

.mat-horizontal-content-container {
  padding: 0 !important;
}

/* estilo para MAt Dialog */
.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: .5rem !important;
}

/* Buttons */
button.mdc-button {
  border-radius: .5rem;
  /* width: 12rem; */
  min-width: 10.5rem;
  height: 2.75rem !important;
  padding: 0 .5rem;
}

.mdc-button .mat-raised-button {
  border-radius: 8px;
  margin-bottom: 5%;
  margin-top: 5%;

  color: #ffff;
  border: none;
}

.mdc-button .mat-stroked-button {
  color: rgb(79 150 226);
}

button.mdc-button.mdc-button--outlined.mat-mdc-outlined-button.mat-primary.mat-mdc-button-base:not(:disabled) {
  border: 1px solid #4F96E2;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
